<% provide :title, 'Home' %>

<div class="alert alert-info">
	<%= notice %>
</div>

<div id="presenter" class="jumbotron" style="heigth: 500px !important;
background-color: #f6f7fa;">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<ul class="list-unstyled">
					<li><h1>STARTUPHUB</h1></li>
					<li><p>O ponto de partida para seu negócio.	</p></li>
					<ul class="list-unstyled list-inline">
						<li><%= link_to 'Inscreva-se', '', 
						class: 'btn btn-primary btn-lg top' %></li>
						<li><%= link_to 'Contato', '',
						class: 'btn btn-primary btn-lg top' %></li>
					</ul>
				</ul>
			</div>
		</div>
	</div>
</div>

<div id="about" style="background-color: #f6f7fa; padding: 40px;">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<ul class="breadcrumb">
					<li><%= link_to 'Home', root_path %></li>
				</ul>

				<div class="col-md-6">
					
				</div>

				<div class="col-md-6">
					<h1><b>Transforme</b> o <br><b>mundo</b> 
					com suas ideias</h1><br>
					<p>StartupHub é ums eco-sistema para startups
					criada para quem é empreendedor, quem quer empreeder,
					e quem quer conhecer de fato o empreendedorismo, nossa
					faco na criação e direcionamento de startups nacionais.	
					criando produtos locais de sucesso e alavancando a economia
					de nosso pais, região.
					</p>

					<div class="col-md-6">
						<h3><%= fa_icon 'check-circle' %> 
						Empreendeender</h3>
					</div>
					<div class="col-md-6">
						<h3><%= fa_icon 'check-circle' %>
						Inovação</h3>
					</div>
					<div class="col-md-6">
						<h3><%= fa_icon 'check-circle' %> 
						Startups</h3>
					</div>
					<div class="col-md-6">
						<h3><%= fa_icon 'check-circle' %> 
						Incubadoras</h3>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div id="service" style="margin-top: 50px; margin-bottom: 50px;">
	<div class="container">
		<div class="row">
			<div class="col-md-12">

				<div class="col-md-7">
					<h1><strong>Temos as soluções certas para<br>
					você ou seu negócio!</strong></h1>
					<hr>

					
					  <div class="col-md-6" style="padding: 10px;">
					  	<div class="media">
					  		<div class="media-left">
					  			<%= fa_icon 'rocket', class: 'media-object',
					  			style: 'font-size: 38px;' %>
					  		</div>
					  		<div class="media-body">
					  			<h4 class="media-heading"><strong>Brain Storm</strong></h4>
					  			<p>Tempestade de ideias pela qual nasce o produto.</p>
					  		</div>
					  	</div>
					  </div>
					  <div class="col-md-6" style="padding: 10px;">
					  	<div class="media">
					  		<div class="media-left">
					  			<%= fa_icon 'rocket', class: 'media-object',
					  			style: 'font-size: 38px;' %>
					  		</div>
					  		<div class="media-body">
					  			<h4 class="media-heading"><strong>Validação da ideia</strong></h4>
					  			<p>Reconstrução e validação da ideia proposta.</p>
					  		</div>
					  	</div>
					  </div>
					  <div class="col-md-6" style="padding: 10px;">
					  	<div class="media">
					  		<div class="media-left">
					  			<%= fa_icon 'rocket', class: 'media-object',
					  			style: 'font-size: 38px;' %>
					  		</div>
					  		<div class="media-body">
					  			<h4 class="media-heading"><strong>Canvas & MVP</strong></h4>
					  			<p>Criação do canvas e de um minimo produto viavel.</p>
					  		</div>
					  	</div>
					  </div>
					  <div class="col-md-6" style="padding: 10px;">
					  	<div class="media">
					  		<div class="media-left">
					  			<%= fa_icon 'rocket', class: 'media-object',
					  			style: 'font-size: 38px;' %>
					  		</div>
					  		<div class="media-body">
					  			<h4 class="media-heading"><strong>Desenvolvimento</strong></h4>
					  			<p>Desenvolvendo a ideia, transformando-a em algo real.</p>
					  		</div>
					  	</div>
					  </div>
					  <div class="col-md-6" style="padding: 10px;">
					  	<div class="media">
					  		<div class="media-left">
					  			<%= fa_icon 'rocket', class: 'media-object',
					  			style: 'font-size: 38px;' %>
					  		</div>
					  		<div class="media-body">
					  			<h4 class="media-heading"><strong>Marketing</strong></h4>
					  			<p>Criando uma imagem forte e positiva para seu ideia.</p>
					  		</div>
					  	</div>
					  </div>
					  <div class="col-md-6" style="padding: 10px;">
					  	<div class="media">
					  		<div class="media-left">
					  			<%= fa_icon 'rocket', class: 'media-object',
					  			style: 'font-size: 38px;' %>
					  		</div>
					  		<div class="media-body">
					  			<h4 class="media-heading"><strong>Mercado</strong></h4>
					  			<p>Prospectando, analisando e colocando sua ideia no mercado.</p>
					  		</div>
					  	</div>
					  </div>

				</div>
				<div class="col-md-5">
				   <div class="jumbotron">
				   	  <!-- some code here -->
				   </div>
				</div>
			</div>
		</div>
	</div>
</div>

<div id="statics" style="background-color: #f6f7fa; padding: 30px 20px 20px 20px;
margin-top: 50px; margin-bottom: 50px;">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				   <div class="col-md-3">
				   		<div class="panel panel-default" style="padding: 40px;">
				   			<ul class="list-unstyled text-center">
				   				<li><h1 style="font-size: 50px;"><%= fa_icon 'rocket' %></h1></li>
				   				<li><p>Startups <br>Auxiliadas</p></li>
				   				<li><h3 style="font-size: 40px;"><b>55,000</b></h3></li>
				   			</ul>
				   		</div>
				   </div>
				   <div class="col-md-3">
				   		<div class="panel panel-default" style="padding: 40px;">
				   			<ul class="list-unstyled text-center">
				   				<li><h1 style="font-size: 50px;"><%= fa_icon 'rocket' %></h1></li>
				   				<li><p>Projetos <br>sucedidos.</p></li>
				   				<li><h3 style="font-size: 40px;"><b>55,000</b></h3></li>
				   			</ul>
				   		</div>
				   </div>
				   <div class="col-md-3">
				   		<div class="panel panel-default" style="padding: 40px;">
				   			<ul class="list-unstyled text-center">
				   				<li><h1 style="font-size: 50px;"><%= fa_icon 'rocket' %></h1></li>
				   				<li><p>Doações Arrecadadas.</p></li>
				   				<li><h3 style="font-size: 40px;"><b>55,000</b></h3></li>
				   			</ul>
				   		</div>
				   </div>
				   <div class="col-md-3">
				   		<div class="panel panel-default" style="padding: 40px;">
				   			<ul class="list-unstyled text-center">
				   				<li><h1 style="font-size: 50px;"><%= fa_icon 'rocket' %></h1></li>
				   				<li><p>Inovações <br>propostas.</p></li>
				   				<li><h3 style="font-size: 40px;"><b>55,000</b></h3></li>
				   			</ul>
				   		</div>
				   </div>
			</div>
		</div>
	</div>
</div>

<div id="signup">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h2 class="text-center"text">
				<strong>Inscreva-se para participar </strong></h2><br>
				<p class="text-center">Efetue seu cadastro, lhe avisaremos
				assim que nossa nova plataforma estiver no ar.<br>  
				Não perca essa chance de iniciar ou alavancar 
				seus negócios.</p><br>
				
				<%= render 'subscriptions/form' %>
			</div>
		</div>
	</div>
</div>

<div id="blog" style="margin-top: 60px; margin-bottom: 60px;">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<ul class="list-unstyled text-center">
					<li><h1>Acompanhe nosso blog</h1></li>
					<li><hr></li>
				</ul><br>

				<% for i in 1..3 %>
				<div class="col-md-4">
					<div class="jumbotron" style="width: 360px; height: 280px; "></div>
					<ul class="list-unstyled padding">
						<li><p>May 10th, 2017</p></li>
						<li><h4><strong>This is our latest dashboard design new features
						</strong></h4></li>
						<li>  
							Read Continue <%= fa_icon 'chevron-right' %>
						</li>
					</ul>
				</div>
				<% end %>
			</div>
		</div>
	</div>
</div>

<div id="question" style="background-color: #f6f7fa; margin-top: 50px; padding-bottom: 40px;">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<ul class="list-unstyled text-center" style="padding-top: 30px; padding-bottom: 50px">
					<li><h1>Perguntas Frequentes</h1></li>
					<li><hr></li>
				</ul>

			    <% for i in 1..4	 %>
				<div class="col-md-6">
				  <div class='panel panel-default padding' style="border-left: 3px solid #000;"> 
				 	<h4><strong>1. Are you know what is drimo dashboard?</strong></h4>
					<p>Usually, we prefer the real thing, wine without sulfur based preservatives, real butter, not margarine, and so we'd like our layouts and designs to be filled with real words, with thoughts that count.</p>
				  </div>
				</div>
				<% end %>
			</div>
		</div>
	</div>
</div>

<div id="partner">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<ul class="list-unstyled text-center">
					<li><h1>Parceiros</h1></li>
					<li><hr></li>
				</ul>

				<% for i in 1..6 %>
					<div class="col-md-2">
						<div class="jumbotron" style="border-radius: 0px;
						background-color: #f6f7fa;">
							
						</div>
					</div>
				<% end %>
			</div>
		</div>
	</div>
</div>

<div id="contact" style="background-color: #f6f7fa; 
margin-top: 50px; padding-bottom: 40px;">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<ul class="list-unstyled text-center">
					<li><h1>Fale conosco</h1></h1></li>
					<li><hr></li>
				</ul>

				<div class="col-md-12">
					<%= render partial: 'contact/form' %>
				</div>
			</div>
		</div>
	</div>
</div>