<footer class="jumbotron">
	<div class="container">
		 <div class="row">
		 	<div class="col-md-12">
		 		<div class="col-md-offset-1 col-md-3">
		 			<ul class="list-unstyled">
		 				<li><h4><i class='glyphicon glyphicon-search'></i> 
		 				MAPA DO SITE</h1></li><br>
		 				<ul class="list-unstyled">
		 					<li><%= link_to 'Sobre', '' %></li>
		 					<li><%= link_to 'Serviços', '' %></li>
		 					<li><%= link_to 'Inscreva-se', '' %></li>
		 					<li><%= link_to 'Perguntas Frequentes', '' %></li>
		 					<li><%= link_to 'Blog', '' %></li>
		 					<li><%= link_to 'Parceiros', '' %></li>
		 					<li><%= link_to 'Contato', '' %></li>
		 				</ul>
		 			</ul>
		 		</div>
		 		<div class="col-md-3">
		 			<ul class="list-unstyled">
		 				<li><h4><i class='glyphicon glyphicon-search'></i> 
		 				NOSSO SUPORTEs</h1></li><br>
		 				<ul class="list-unstyled">
		 					<li><%= link_to 'Ajuda e Suporte', '' %></li>
		 					<li><%= link_to 'Primeiros passos', '' %></li>
		 					<li><%= link_to 'Entre em contato', '' %></li>
		 					<li><%= link_to 'Acessar', '' %></li>
		 					<li><%= link_to 'Criar Conta', '' %></li>
		 			</ul>
		 		</div>
		 		<div class="col-md-4">
		 			<ul class="list-unstyled">
		 				<li><h4><i class='glyphicon glyphicon-search'></i>
		 				INFORMAÇÃO DE CONTATO</h1></li><br>
		 				<ul class="list-unstyled">
		 					<li>Telefone: (11) 97195-6599</li>
		 					<li>E-mail: contato@startuphub.com.br</li>
		 					<li>Endereço: Alameda das magnólias, 555<br> 
		 					Planalto Verde, São Roque - SP</li>
		 					<ul class="list-unstyled list-inline"><br>
		 						<li><i class="glyphicon glyphicon-search"></i></li>
		 						<li><i class="glyphicon glyphicon-search"></i></li>
		 						<li><i class="glyphicon glyphicon-search"></i></li>
		 						<li><i class="glyphicon glyphicon-search"></i></li>
		 						<li><i class="glyphicon glyphicon-search"></i></li>
		 					</ul>
		 				</ul>
		 			</ul>
		 		</div>

		 		<div class="col-md-12"><br>
		 			<div class='col-md-offset-1 col-md-11'>
		 			   <h3 style="border: 1px solid #999; 
		 			   padding: 1px; width: 180px;"><strong>S</strong>TARTUP<strong>HUB</strong></h3>
		 				<small> Todos os direitos reservados &copy <%= Date.today.year %> </small>
		 			</div>
		 		</div>
		 	</div>
		 </div>
	</div>
</footer>