<footer class="jumbotron" style="margin-bottom: 0px;">
	<div class="container">
		 <div class="row">
		 	<div class="col-md-12">
		 		<div class="col-md-offset-1 col-md-3">
		 			<ul class="list-unstyled">
		 				<li><h4>SITEMAP</h1></li><br>
		 				<ul class="list-unstyled">
		 					<li><%= link_to 'About', '' %></li>
		 					<li><%= link_to 'Features', '' %></li>
		 					<li><%= link_to 'Screenshots', '' %></li>
		 					<li><%= link_to 'Team', '' %></li>
		 					<li><%= link_to 'Blog', '' %></li>
		 				</ul>
		 			</ul>
		 		</div>
		 		<div class="col-md-3">
		 			<ul class="list-unstyled">
		 				<li><h4>OUR SUPPORT</h1></li><br>
		 				<ul class="list-unstyled">
		 					<li><%= link_to 'Help & Support', '' %></li>
		 					<li><%= link_to 'Getting Started', '' %></li>
		 					<li><%= link_to 'Contact Us', '' %></li>
		 					<li><%= link_to 'Sign In', '' %></li>
		 					<li><%= link_to 'Sign Up', '' %></li>
		 			</ul>
		 		</div>
		 		<div class="col-md-4">
		 			<ul class="list-unstyled">
		 				<li><h4>CONTACT INFORMATION</h1></li><br>
		 				<ul class="list-unstyled">
		 					<li>Phone 00-29-03-9084413</li>
		 					<li>E-mail: example.201</li>
		 					<li>Address : R-03, Sec-04, Uttara-1230,<br> 
		 					Dhaka, Bangladesh</li>
		 					<ul class="list-unstyled list-inline"><br>
		 						<li><i class="glyphicon glyphicon-search"></i></li>
		 						<li><i class="glyphicon glyphicon-search"></i></li>
		 						<li><i class="glyphicon glyphicon-search"></i></li>
		 						<li><i class="glyphicon glyphicon-search"></i></li>
		 						<li><i class="glyphicon glyphicon-search"></i></li>
		 					</ul>
		 				</ul>
		 			</ul>
		 		</div>

		 		<div class="col-md-12"><br>
		 			<div class='col-md-offset-1 col-md-11'>
		 			   <h3>PROJETO NACIONAL</h3>
		 			</div>
		 		</div>
		 	</div>
		 </div>
	</div>
</footer>